<div class="px-4 py-2 max-w-screen-lg mx-auto">
  <div class="bg-white my-8 p-6 rounded-4xl">
    <h1 class="my-2 text-2xl uppercase">
      Welcome
    </h1>

    <p class="mt-4" *ngIf="(isLoggedIn$ | async) === false">
      You are using a web3-enabled application. Log in to proceed.
    </p>

    <ng-container *ngIf="(isLoggedIn$ | async) === true">
      <div class="flex items-baseline gap-1.5 flex-wrap mt-4"
           *ngIf="(address$ | async) as address">
        <span>You are connected with</span>
        <span class="text-sm">
          {{ address | addrShort }}
        </span>
        <app-value-copy [value]="address"></app-value-copy>
        <app-explorer-link [value]="address">
        </app-explorer-link>
      </div>
    </ng-container>

    <ng-container *ngIf="(auctionHouse$ | withStatus | async) as auctionHouseRes">
      <ng-container *ngIf="auctionHouseRes.value as auctionHouse">
        <div class="mt-4">
          <div class="mt-2">
            Contract address: {{ auctionHouse.contractAddress }}
          </div>

          <div class="mt-2">
            Owner: {{ auctionHouse.owner }}
          </div>

          <div class="mt-2 max-w-md">
            <div>
              Auctions
            </div>

            <div *ngFor="let auction of auctionHouse.auctions">
              <div class="flex gap-2 justify-between p-2 bg-gray-200 rounded mt-1">
                <div>
                  {{ auction.name }}
                </div>

                <a routerLink="/auctions/{{ auction.contractAddress }}"
                   class="rounded-full p-2 bg-cyan-500 text-white
                          text-sm font-semibold uppercase
                          flex items-center">
                  <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg"
                       class="w-2 h-2">
                    <path d="M1 1.16602L6.83333 6.99935L1 12.8327" stroke="white" stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"/>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="auctionHouseRes.error">
        <div>
          Cannot fetch auction house.
        </div>
        <div hidden>{{ auctionHouseRes.error | json }}</div>
      </ng-container>

      <ng-container *ngIf="auctionHouseRes.loading">
        <div>
          Loading auction house...
        </div>
      </ng-container>
    </ng-container>

    <button class="app-button mt-4" routerLink="/auctions/new">
      New Auction
    </button>
  </div>
</div>
