<div class="px-4 py-2 max-w-screen-lg mx-auto">
  <div class="bg-white my-8 p-6 rounded-4xl">
    <h1 class="my-2 text-2xl uppercase">
      Welcome
    </h1>

    <p class="mt-4" *ngIf="(isLoggedIn$ | async) === false">
      You are using a web3-enabled application. Log in to proceed.
    </p>

    <ng-container *ngIf="(isLoggedIn$ | async) === true">
      <div class="flex items-baseline gap-1.5 flex-wrap mt-4"
           *ngIf="(address$ | async) as address">
        <span>You are connected with</span>
        <span class="text-sm">
          {{ address | addrShort }}
        </span>
        <app-value-copy [value]="address"></app-value-copy>
        <app-explorer-link [value]="address">
        </app-explorer-link>
      </div>
    </ng-container>

    <ng-container *ngIf="(auctionHouse$ | withStatus | async) as auctionHouseRes">
      <ng-container *ngIf="auctionHouseRes.value as auctionHouse">
        <div class="mt-4">
          <div class="mt-2">
            Contract address: {{ auctionHouse.contractAddress }}
          </div>

          <div class="mt-2">
            Owner: {{ auctionHouse.owner }}
          </div>

          <div class="mt-2 divide-y-2">
            <div>
              Auctions
            </div>

            <div *ngFor="let auction of auctionHouse.auctions">
              <div>
                Name: {{ auction.name }}
              </div>

              <div>
                Auction address: {{ auction.contractAddress }}
              </div>

              <div>
                Created at: {{ (auction.createdAt | formatUnit:'toNumber') * 1000 | date }}
              </div>

              <div>
                Can be closed at: {{ (auction.endsAt | formatUnit:'toNumber') * 1000 | date }}
              </div>

              <div>
                Status: {{ auction.closed ? 'Closed' : 'Open' }}
              </div>

              <div>
                Highest bid: {{ auction.highestBid }}
              </div>
            </div>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="auctionHouseRes.error">
        Cannot fetch auction house.
        <div hidden>{{ auctionHouseRes.error | json }}</div>
      </ng-container>

      <ng-container *ngIf="auctionHouseRes.loading">
        Loading auction house...
      </ng-container>
    </ng-container>

    <button class="app-button mt-4" routerLink="/auctions/new">
      New Auction
    </button>
  </div>
</div>
