<div class="px-4 py-2 max-w-screen-lg mx-auto">
  <div class="bg-white my-8 p-6 rounded-4xl">
    <h1 class="my-2 text-2xl uppercase">
      Welcome
    </h1>

    <p class="mt-4" *ngIf="(isLoggedIn$ | async) === false">
      You are using a web3-enabled application. Log in to proceed.
    </p>

    <ng-container *ngIf="(isLoggedIn$ | async) === true">
      <div class="flex items-baseline gap-1.5 flex-wrap mt-4"
           *ngIf="(address$ | async) as address">
        <span>You are connected with</span>
        <span class="text-sm">
          {{ address | addrShort }}
        </span>
        <app-value-copy [value]="address"></app-value-copy>
        <app-explorer-link [value]="address">
        </app-explorer-link>
      </div>
    </ng-container>

    <ng-container *ngIf="(auctionHouse$ | withStatus | async) as auctionHouseRes">
      <ng-container *ngIf="auctionHouseRes.value as auctionHouse">
        <div class="mt-4">
          <div class="mt-2">
            Contract address: {{ auctionHouse.contractAddress }}
          </div>

          <div class="mt-2">
            Owner: {{ auctionHouse.owner }}
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="auctionHouseRes.error">
        Cannot fetch auction house.
        <div hidden>{{ auctionHouseRes.error | json }}</div>
      </ng-container>

      <ng-container *ngIf="auctionHouseRes.loading">
        Loading auction house...
      </ng-container>
    </ng-container>
  </div>
</div>
